# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
cars['Model'].nunique()

3608

In [5]:
cars['Make'].nunique()

127

group by the data by the Make  using count function

In [6]:
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [7]:
#Changing the column name
cars. rename(columns = {'CO2 Emission Grams/Mile':'CO2 Emission Grams/Km'}, inplace = True) 
cars.rename(columns = {'City MPG':'City_KMpL', 'Highway MPG':'Highway_KMpL', 'Combined MPG':'Combined_KMpL' }, inplace = True)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City_KMpL,Highway_KMpL,Combined_KMpL,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [8]:
#Converting Grams/Mile to Grams/Km
cars['CO2 Emission Grams/Km'] = cars['CO2 Emission Grams/Km'].apply(lambda x: x / 1.60934) 
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City_KMpL,Highway_KMpL,Combined_KMpL,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150

In [9]:
# Converting Gallons to Liters
# 1 Gallon = 3.78541 Liters
cars['City_KMpL'] = cars['City_KMpL'].apply(lambda x: x /2.352)
cars['Highway_KMpL'] = cars['Highway_KMpL'].apply(lambda x: x /2.352)
cars['Combined_KMpL'] = cars['Combined_KMpL'].apply(lambda x: x /2.352)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City_KMpL,Highway_KMpL,Combined_KMpL,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.653061,7.227891,7.227891,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.527211,5.527211,5.527211,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802721,7.227891,6.802721,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.527211,5.527211,5.527211,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952381,8.928571,6.802721,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.581633,15.306122,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.605442,16.581633,14.880952,158.450048,1150

In [10]:
# What brand has the most cars?

cars['Make'].describe()  #cars.groupby('Make')['Model'].count().nlargest()  - another way

count         35952
unique          127
top       Chevrolet
freq           3643
Name: Make, dtype: object

In [11]:
cars['Make'].value_counts()

Chevrolet              3643
Ford                   2946
Dodge                  2360
GMC                    2347
Toyota                 1836
                       ...
Isis Imports Ltd          1
Panos                     1
E. P. Dutton, Inc.        1
Vixen Motor Company       1
Fisker                    1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [12]:
cars.groupby("Make")[["CO2 Emission Grams/Km"]].mean()  
#cars.groupby("Make")[["CO2 Emission Grams/Km"]].apply(lambda x: x.mean()/1.60934) 
# another way

                             CO2 Emission Grams/Km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [13]:
cars.groupby("Make")[["CO2 Emission Grams/Km"]].mean().sort_values(by="CO2 Emission Grams/Km")

                                    CO2 Emission Grams/Km
Make
Fisker                                         105.011992
smart                                          153.498052
Fiat                                           189.311494
Daihatsu                                       192.742404
MINI                                           194.935105
...                                                   ...
Laforza Automobile Inc                         502.012683
Bugatti                                        542.497235
Superior Coaches Div E.p. Dutton               552.213951
S and S Coach Company  E.p. Dutton             552.213951
Vector                                         651.919248

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [14]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [15]:
bin_labels = ['80-s', '90-s','00-s', '10-s'] 

cars['Grouped_Year'] = pd.qcut(cars['Year'],
                              q=4,
                              labels=bin_labels)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City_KMpL,Highway_KMpL,Combined_KMpL,CO2 Emission Grams/Km,Fuel Cost/Year,Grouped_Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.653061,7.227891,7.227891,324.831736,1950,80-s
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.527211,5.527211,5.527211,424.779962,2550,80-s
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802721,7.227891,6.802721,345.133719,2100,80-s
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.527211,5.527211,5.527211,424.779962,2550,80-s
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952381,8.928571,6.802721,345.133719,2550,80-s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,151.614948,1100,10-s
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,150.993575,1100,10-s
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,151.614948,1100,10-s
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.581633,15.306122,152.857693,1100,10-s
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.605442,16.581633,14.880952,158.450048,1150,10-s

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [16]:
cars.groupby("Grouped_Year")["City_KMpL"].mean()

Grouped_Year
80-s    7.326571
90-s    7.210787
00-s    7.208903
10-s    8.394967
Name: City_KMpL, dtype: float64

Which brands are more environment friendly?

In [17]:
cars.groupby(["Grouped_Year", 'Make'])["CO2 Emission Grams/Km"].mean()

Grouped_Year  Make
80-s          AM General                     379.881345
              ASC Incorporated               345.133719
              Acura                          268.191765
              Alfa Romeo                     287.384748
              American Motors Corporation    314.264744
                                                ...
10-s          Volkswagen                     214.410174
              Volvo                          242.932543
              Wallace Environmental                 NaN
              Yugo                                  NaN
              smart                          153.543176
Name: CO2 Emission Grams/Km, Length: 508, dtype: float64

                                    CO2_Emission_Grams/Km
Decade Brand
80s    AMG                                     379.881345
       ASC                                     345.133719
       Acura                                   268.497682
       Alfa Romeo                              286.715163
       American Motors Corporation             314.264744
...                                                   ...
10s    Volkswagen                              219.440984
       Volvo                                   250.429309
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.509751

[488 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [18]:

cars.groupby("Drivetrain").agg({"City_KMpL":["mean"],"Highway_KMpL":"mean"})

                            City_KMpL Highway_KMpL
                                 mean         mean
Drivetrain
2-Wheel Drive                6.642905     8.222970
2-Wheel Drive, Front        10.629252    14.030612
4-Wheel Drive                7.191322     9.669203
4-Wheel or All-Wheel Drive   6.392458     8.347665
All-Wheel Drive              7.786096    10.883228
Front-Wheel Drive            9.002790    12.166989
Part-time 4-Wheel Drive      6.216094     8.115905
Rear-Wheel Drive             6.556994     9.024524

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [28]:
#cars.groupby("Trans").agg({"City_KMpL":["mean"],"Highway_KMpL":"mean"})

cars.groupby(["Transmission"])["City_KMpL"].mean()

Transmission
Auto (AV)                           14.880952
Auto (AV-S6)                         9.353741
Auto (AV-S8)                         8.503401
Auto(A1)                            17.431973
Auto(AM-S6)                         10.338103
Auto(AM-S7)                          7.545108
Auto(AM-S8)                         10.062358
Auto(AM-S9)                          8.928571
Auto(AM5)                           14.314059
Auto(AM6)                           10.165430
Auto(AM7)                            6.908337
Auto(AM8)                            9.523810
Auto(AV-S6)                         11.030964
Auto(AV-S7)                         11.884516
Auto(AV-S8)                          9.713501
Auto(L3)                             5.952381
Auto(L4)                             5.739796
Automatic (A1)                      14.455782
Automatic (A6)                       5.952381
Automatic (AM5)                     14.030612
Automatic (AM6)                      5.527211
Automatic (AV)                       9.247449
Automatic (AV-S6)                   10.062358
Automatic (S4)                       7.684624
Automatic (S5)                       7.265132
Automatic (S6)                       7.796562
Automatic (S7)                       7.144812
Automatic (S8)                       7.844388
Automatic (S9)                       8.470696
Automatic (variable gear ratios)    11.675485
Automatic 3-spd                      7.419111
Automatic 4-spd                      6.779022
Automatic 5-spd                      6.566929
Automatic 6-spd                      7.109129
Automatic 6spd                       8.928571
Automatic 7-spd                      7.277987
Automatic 8-spd                      7.047675
Automatic 9-spd                      8.536470
Manual 3-spd                         6.050055
Manual 4-spd                         7.173199
Manual 5 spd                         5.952381
Manual 5-spd                         8.181261
Manual 6-spd                         7.783262
Manual 7-spd                         7.746849
Manual(M7)                           5.952381
Name: City_KMpL, dtype: float64

In [29]:
cars['Trans']=cars['Transmission'].apply(lambda x: 'Auto' if str(x).startswith('Auto') else 'Manual') 
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City_KMpL,Highway_KMpL,Combined_KMpL,CO2 Emission Grams/Km,Fuel Cost/Year,Grouped_Year,Trans
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.653061,7.227891,7.227891,324.831736,1950,80-s,Auto
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.527211,5.527211,5.527211,424.779962,2550,80-s,Auto
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802721,7.227891,6.802721,345.133719,2100,80-s,Auto
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.527211,5.527211,5.527211,424.779962,2550,80-s,Auto
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952381,8.928571,6.802721,345.133719,2550,80-s,Auto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,151.614948,1100,10-s,Auto
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,150.993575,1100,10-s,Auto
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.156463,15.306122,151.614948,1100,10-s,Auto
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.455782,16.581633,15.306122,152.857693,1100,10-s,Auto
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.605442,16.581633,14.880952,158.450048,1150,10-s,Manual

In [30]:
cars.groupby(["Trans"])["City_KMpL"].mean()

Trans
Auto      7.278758
Manual    7.968858
Name: City_KMpL, dtype: float64

In [31]:
cars.groupby(["Trans"])["City_KMpL"].mean()

Trans
Auto      7.278758
Manual    7.968858
Name: City_KMpL, dtype: float64

In [34]:
cars.groupby("Trans").agg({"City_KMpL":["mean"],"Trans":["count"]})

       City_KMpL  Trans
            mean  count
Trans
Auto    7.278758  24290
Manual  7.968858  11662

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
cars.groupby("Trans").agg({"City_KMpL":["mean"],"Trans":["count"]})

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

In [35]:
cars.groupby("Trans").agg({"City_KMpL":["mean"],"Trans":["count"]})

       City_KMpL   Trans
            mean     min
Trans
Auto    7.278758    Auto
Manual  7.968858  Manual

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857